---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = 'Denis Anfruns - Projects'
const language = 'ca-ES';
---
<BaseLayout pageTitle={pageTitle} lang={language}>
	<header class="mt-16 text-center">
		<h1 class="text-gradient drop-shadow-md px-18 my-4 text-3xl sm:text-4xl lg:text-5xl leading-none font-bold">Denis Anfruns</h1>
		<h2 class="mx-12 my-4 sm:mt-4 sm:mb-6 lg:text-xl 2xl:text-2xl">Desenvolupador de Power Platform<p class="hidden lg:inline">&nbsp; | &nbsp;</p><br class="block lg:hidden">móbil, escritori, tecnologies web i entusiasta del software lliure de codi obert</h2>
	</header>
	<main class="flex-grow">
	</main>
</BaseLayout>