@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat-latin-700-normal.woff2') format('woff2');
  font-display: block;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-latin-400-normal.woff2') format('woff2');
  font-display: block;
}

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 179, 130, 194;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-dark)) 30%,
    white 60%
  );
  color: #222222;
  --color-highlight: rgba(36, 31, 31, 0.2);
  --btn-color-hover: #d6d6d6;
  --light-bg-color: rgb(230, 230, 240);
  --dark-bg-color: rgb(20, 20, 25);
  --primary-bg-color: #16161a;
  --secondary-bg-color: #4e3d46;
}

html {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--light-bg-color)
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Montserrat', sans-serif, system-ui;

}
html.dark {
  color: #fff;
  background-color: var(--dark-bg-color);
  --color-highlight: rgba(255, 255, 255, 0.5);
  --btn-color-hover: #4b3c3d;
}

html.dark::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  width: 100%;
  left: 0%;
  background: radial-gradient(ellipse 300% 100% at 50% 20%, var(--primary-bg-color), var(--secondary-bg-color));
  mask-image: radial-gradient(ellipse 90% 65% at 50% 30%, transparent 0%, black 10%, white 50%, transparent 100%);
  z-index: -1;
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-position: 0%;
}