@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/monts.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.ttf') format('truetype');
  font-display: swap;
}

* {
  box-sizing: border-box;
}
  
:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 179, 130, 194;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-dark)) 30%,
    white 60%
  );
  
  --color-highlight: rgba(52 211 153);
  --primary-bg-color: #16161a;
  --secondary-bg-color: #4e3d46;
  --bg-color-light: rgba(230, 230, 240);
  --bg-color-dark: rgb(19, 19, 24);
  --bg-color-nav-light: white;
  --bg-color-nav-dark: #1f2937;
}

html {
  font-family: 'Inter', sans-serif, system-ui;
  background-color: var(--bg-color-light);
  nav {
    background-color: var(--bg-color-nav-light);
  }
}

h1 {
  font-family: 'Inter', system-ui, sans-serif;
}

html.dark {
  color: #fff;
  background-color: var(--bg-color-dark);
  --color-highlight: #ffffff80;
  nav {
    background-color: var(--bg-color-nav-dark);
  }
}

/* html.dark::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  width: 100%;
  left: 0%;
  background: radial-gradient(ellipse 300% 100% at 50% 20%, var(--primary-bg-color), var(--secondary-bg-color));
  mask-image: radial-gradient(ellipse 90% 65% at 50% 30%, transparent 0%, black 10%, white 50%, transparent 100%);
  z-index: -1;
} */

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-position: 0%;
}