@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-variable.woff2') format('truetype');
  font-display: optional;
}

* {
  box-sizing: border-box;
}
  
:root {
  --font-sans: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  --font-serif: 'Garamond', Georgia, 'Times New Roman', serif;
  --tangerine: oklch(76.9% 0.188 70.08);
  --tangerine-hover: oklch(66.6% 0.179 58.318);
  --jade: oklch(69.6% 0.17 162.48);
  --jade-hover: oklch(50.8% 0.118 165.612);
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 179, 130, 194;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-dark)) 30%,
    white 60%
  );
  
  --color-highlight: rgba(52 211 153);
  --primary-bg-color: #16161a;
  --secondary-bg-color: #4e3d46;
  --bg-color-light: rgba(230, 230, 240);
  --bg-color-dark: rgb(19, 19, 19);
  --bg-color-nav-light: white;
  --bg-color-nav-dark: #1f2937;
}

html {
  font-family: 'Inter', sans-serif, system-ui;
}

html.dark {
  color: #fff;
  background-color: var(--bg-color-dark);
  --color-highlight: #ffffff80;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  @media (min-width: 640px) {
    padding: 0 1.5rem;
  }
  @media (min-width: 1024px) {
    padding: 0 2rem;
  }
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-position: 0%;
}