@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-variable.woff2') format('truetype');
  font-display: swap;
}

* {
  box-sizing: border-box;
}
  
:root {
  --tangerine: #ffffff;
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 179, 130, 194;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-dark)) 30%,
    white 60%
  );
  
  --color-highlight: rgba(52 211 153);
  --primary-bg-color: #16161a;
  --secondary-bg-color: #4e3d46;
  --bg-color-light: rgba(230, 230, 240);
  --bg-color-dark: rgb(19, 19, 24);
  --bg-color-nav-light: white;
  --bg-color-nav-dark: #1f2937;
}

html {
  font-family: 'Inter', sans-serif, system-ui;
  background-color: var(--bg-color-nav-light);
}

html nav {
  background-color: var(--bg-color-light);
}

html.dark {
  color: #fff;
  background-color: var(--bg-color-dark);
  --color-highlight: #ffffff80;
}

html.dark nav {
  background-color: var(--bg-color-nav-dark);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
  @media (max-width: 640px) {
    padding: 0 1rem;
  }
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-position: 0%;
}