---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const pageTitle = 'Denis Anfruns - Projects'
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<BaseLayout pageTitle={pageTitle}>
	<header class="mt-16 text-center">
		<h1 class="text-gradient drop-shadow-md px-18 my-4 text-3xl sm:text-4xl lg:text-5xl leading-none font-bold">Denis Anfruns</h1>
		<h2 class="mx-12 my-4 sm:mt-4 sm:mb-6 lg:text-xl 2xl:text-2xl">{t('dev')}<p class="hidden lg:inline">&nbsp; | &nbsp;</p><br class="block lg:hidden">{t('descr')}</h2>
	</header>
	<main>

	</main>
</BaseLayout>
<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200%;
		background-position: 0%;
	}
</style>
