---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Denis Anfruns">
	<header class="mt-16 text-center">
		<h1 class="text-gradient px-18 my-4 text-5xl leading-none font-bold">Denis Anfruns</h1>
		<h2 class="mx-12 my-6 lg:text-xl 2xl:text-2xl">Power Platform Developer &nbsp;|&nbsp; Mobile, Desktop, Web technologies and FOSS enthusiast</h2>
	</header>
	<main>
	
	</main>
</BaseLayout>
<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200%;
		background-position: 0%;
	}
</style>
