---
import BaseLayout from '../layouts/BaseLayout.astro';
import SocialLinks from "../components/SocialLinks.astro";

const pageTitle = 'Denis Anfruns Millán'
const language = 'es';

const expYears: number = Math.abs(new Date(Date()).getFullYear() - new Date('2021-09-01').getFullYear() - 1);
---
<BaseLayout pageTitle={pageTitle} lang={language}>
	<header class="text-center relative top-[10rem]">
		<h1 class="text-gradient drop-shadow-md text-[4rem] sm:text-[4rem] lg:text-[4rem] leading-[80px] font-bold">DENIS ANFRUNS</h1>
		<p class="lg:text-3xl">Desarrollador Full Stack con<span class="font-black text-emerald-600"> +{expYears} años</span> de experiencia</p>	
		<p class="lg:text-xl mt-[3rem] text-neutral-400 font-medium">Power Apps | React + Astro | FLOSS ❤️</p>
		<SocialLinks />
	</header>
	<main class="flex-grow">
		<!-- Web content -->
	</main>
</BaseLayout>