---
import BaseLayout from '../layouts/BaseLayout.astro';
import SocialLinks from '../components/SocialLinks.astro';
import experiencieYears from '../utils/experiencieYears';

const years = experiencieYears();
const siteTitle = 'Denis Anfruns Millán - Full Stack Dev';
const language = 'es';
---
<BaseLayout siteTitle={siteTitle} lang={language}>
	<header class="text-center mt-16 sm:mt-40">
		<h1 class="text-gradient drop-shadow-md text-[4rem] sm:text-[4rem] lg:text-[4rem] leading-[80px] font-bold tracking-wide">DENIS ANFRUNS</h1>
		<p class="lg:text-3xl mx-14 sm:mx-0 tracking-wide">Desarrollador Full Stack con<span id="experience" class="font-black text-emerald-600"> +{years} años</span> de experiencia</p>
		<p class="lg:text-xl mt-6 text-neutral-400 font-medium tracking-normal">Power Apps & Automate + Sharepoint</p>
		<p class="lg:text-xl text-neutral-400 font-medium tracking-normal">React + Astro</p>	
		<p class="lg:text-xl text-neutral-400 font-medium tracking-normal">.NET</p>	
		<p class="lg:text-xl mt-20 font-medium tracking-normal">Encuéntrame en mis redes</p>
	</header>
	<main>
		<SocialLinks />
	</main>
</BaseLayout>