---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Denis Anfruns - Proyectos'
const language = 'es';
---
<BaseLayout pageTitle={pageTitle} lang={language}>
	<header class="mt-16 text-center">
				
	</header>
	<main class="grid grid-cols-2">
		
	</main>
</BaseLayout>
