---
import BaseLayout from '../layouts/BaseLayout.astro'
const siteTitle = 'Denis Anfruns - Proyectos'
const lang = 'es'
---

<BaseLayout siteTitle={siteTitle} lang={lang}>
	<header class="mt-16 text-center"></header>
	<main class="grid grid-cols-2"></main>
</BaseLayout>
