---
interface Props {
  text: string;
  link: string;
  enabledBtn: boolean;
}
const { text, link, enabledBtn } = Astro.props;
---
<a 
  href={enabledBtn ? link : undefined} 
  title='Mis proyectos'
  class:list={[
    'm-5 relative text-sm xs:text-md md:text-lg rounded-lg inline-block px-4 py-2 transition-colors',
    {
      'hover:bg-zinc-600 hover:text-white cursor-pointer': enabledBtn,
      'text-gray-400 font-bold pointer-events-none cursor-default': !enabledBtn
    }
  ]}
  aria-disabled={!enabledBtn}
>
  <span class="relative inline-flex items-center">
    <span class="z-10">{text}</span>
  </span>
</a>