---

---

<div
	class="card tect-center border-metal-100 shadow-small m-auto mt-16 max-w-xs overflow-hidden rounded-xl border bg-white"
>
	Card<br />
	Card<br />
	Card<br />
	Card<br />
	Card<br />
	Card<br />
	Card<br />
	Card<br />
	Card<br />
	Card<br />
</div>
<style>
	.card {
		position: static;
		background-color: #131318;
	}
</style>
