---
---
<div class='card m-auto tect-center mt-16 max-w-xs overflow-hidden rounded-xl border border-metal-100 bg-white shadow-small'>
  Card<br/>
  Card<br/>
  Card<br/>
  Card<br/>
  Card<br/>
  Card<br/>
  Card<br/>
  Card<br/>
  Card<br/>
  Card<br/>
</div>
<style>
.card {
  position: static;
  background-color: #131318;
}
</style>