---
---

<div id="cookieConsent" class="fixed bottom-4 lg:left-1/4 bg-white dark:bg-gray-800 p-4 rounded-lg shadow-lg max-w-sm">
  <p class="text-sm text-gray-700 dark:text-gray-300 mb-4">Desgracidamente no puedo desacerme de la cookie cf_clearnace, pero puedo asegurarte que no se usa para rastrearte ni para nada malicioso.</p>
  <p></p>
  <button id="acceptCookies" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
    Aceptar
  </button>
</div>

<script>
  const cookieConsent = document.getElementById('cookieConsent');
  const acceptCookies = document.getElementById('acceptCookies');

  if (cookieConsent && acceptCookies) {
    if (!localStorage.getItem('cookiesAccepted')) {
      cookieConsent.classList.remove('hidden');
    }

    acceptCookies.addEventListener('click', () => {
      localStorage.setItem('cookiesAccepted', 'true');
      cookieConsent.classList.add('hidden');
    });
  }
</script>
