---
import CookieSVG from './public/assets/cookie.svg'
---

<div id="cookieBtn" class='fixed bottom-4 lg:left-1/4 m-6 lg:animate-bounce'>
	<button class='flex items-center bg-[#D4D4D8] dark:bg-gray-800 dark:hover:bg-[#52525B] rounded-full border border-gray-600 transition-all duration-200 ease-in-out overflow-hidden w-[42px] lg:hover:w-[190px] group'>
		<div class='p-2 flex-shrink-0'>
			<CookieSVG width={24} height={24} />
		</div>
		<span
			class='whitespace-nowrap ml-1 text-gray-800 dark:text-white opacity-0 transition-all duration-200 ease-in-out group-hover:opacity-100 group-hover:max-w-[190px]'>
			Aviso de cookies
		</span>
	</button>
</div>
