---
import CookieSVG from './public/assets/cookie.svg';
---
<button class="flex w-12 p-3 bg-gray-800 hover:bg-slate-700 rounded-full border border-gray-600">
  <CookieSVG width={24} height={24} />
</button>