---
import AstroFooter from './AstroFooter.astro';
import Cookies from './Cookies.astro';
---
<footer class="flex place-content-center lg:grid lg:grid-cols-5 mb-10 mt-auto">
  <div class="flex lg:ml-20 place-content-start lg:col-start-2">
    <Cookies />
  </div>
  <div class="flex lg:grid lg:place-content-center lg:col-start-3">
    <AstroFooter />
  </div>
</footer>