---
import SocialLinks from "./SocialLinks.astro";
const year = new Date().getFullYear();
---
<footer class="text-center mt-12">
  <SocialLinks/>
  <p class="mt-2 mx-20">&copy; {year} Denis Anfruns Millán. Todos los derechos reservados.</p>
</footer>