---


---
<nav>
  <ul>
    <li><span>&lt;/&gt;</span></li>
    <li><a href="/" title="Página Principal">Denis Anfruns Millán</a></li>
    <!-- <li><a href="/proyectos/" title="Mis Videojuegos">video games</a></li> -->
    <!-- <li><a href="/blog/" title="Blog de Desarrollo">dev blog</a></li> -->
  </ul>
</navcl>
<style>
  ul {
    margin: 0px;
    padding: 0px;
  }
  li:first-child {
    user-select: none;
  }
  li {
    display: inline-block;
    list-style-type: none;
  }
  a {
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
	}
  li a {
		transition: color .25s ease, transform .25s ease;
  }
	li:hover a {
    color: orange;
    transform: translateY(25px);
	}
</style>