---
import experiencieYears from '../utils/experiencieYears';

const years = experiencieYears();
---
<header class="text-center mt-10 sm:mt-40">
    <h1 class="text-left md:text-center text-gradient mx-6 md:mx-0 drop-shadow-md text-[3.95rem] sm:text-[4rem] lg:text-[5rem] leading-[80px] font-bold tracking-wide">DENIS ANFRUNS MILLÁN</h1>

    <p class="xl:text-3xl lg:text-2xl text-xl  mx-8 sm:mx-0 tracking-wide mt-5">Desarrollador Full Stack con<span id="experience" class="font-black text-emerald-600"> +{years} años</span> de experiencia</p>
    <ul class="flex flex-wrap gap-2 justify-center mt-10">
        <li class="px-5 py-3 bg-zinc-300 dark:bg-zinc-800 text-xl-300 rounded">Power Apps</li>
        <li class="px-5 py-3 bg-zinc-300 dark:bg-zinc-800 text-xl-300 rounded">Power Automate</li>
        <li class="px-5 py-3 bg-zinc-300 dark:bg-zinc-800 text-xl-300 rounded">Astro</li>
        <li class="px-5 py-3 bg-zinc-300 dark:bg-zinc-800 text-xl-300 rounded">React</li>
        <li class="px-5 py-3 bg-zinc-300 dark:bg-zinc-800 text-xl-300 rounded">SharePoint</li>
        <li class="px-5 py-3 bg-zinc-300 dark:bg-zinc-800 text-xl-300 rounded">.NET MAUI</li>
        <li class="px-5 py-3 bg-zinc-300 dark:bg-zinc-800 text-xl-300 rounded">APIs Web nativas</li>
    </ul>

    <p class=" lg:text-xl md:mt-20 mt-10 font-medium tracking-normal">Encuéntrame en mis redes sociales</p>
</header>