---
import LanguageDropdown from './LanguageDropdown.jsx';
---
<div>
  <LanguageDropdown/>
</div>
<!-- <div>
	<select id='languageSelector' class="w-36 text-sm" >
		<option value='?lang=es'>Español</option>
		<option value='?lang=cat'>Català</option>
		<option value='?lang=en' selected>English</option>
	</select>
</div>
<style>
	div {
		margin: 0px;
	}
	select {
		color: rgb(204, 204, 204);
		background-color: #363941;
		padding: 10px;
		border: solid;
		border-color: grey;
		border-width: 1px;
		border-radius: 5px;
	}
</style> -->