---
import Button from './Button.astro'
import SwitchBtnThemeMode from './SwitchBtnThemeMode.astro'
---
<nav>
	<div class="container flex items-center justify-between">

		<div class="inline-flex gap-5 md:gap-1">
			<div class="text-center">
				<Button text='PROYECTOS (WIP)' link='/' enabledBtn={false}/>
			</div>
		</div>

		<div class="flex gap-20">
			<SwitchBtnThemeMode />
		</div>

	</div>
</nav>