---
import NavigationTabs from './NavigationTabs.astro';
import SwitchDarkMode from './SwitchDarkMode.astro';
---
<nav class="mt-8 flex justify-between">
  <NavigationTabs/>
  <SwitchDarkMode/>
</nav>