---
import NavigationTabs from './NavigationTabs.astro';
---
<nav>
  <NavigationTabs/>
</nav>
<style>
	nav {
		margin-top: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
}
</style>