---
import NavButton from './NavButton.astro'
import SwitchBtnThemeMode from './SwitchBtnThemeMode.astro'
---
<nav>
	<div class="container flex items-center justify-between">

		<div class="inline-flex gap-5 md:gap-1">
			<NavButton text='proyectos' link='/' enabledBtn={false} />
			<p class="mt-7 Monsterrat text-xs xs:text-xs md:text-md rounded-lg">Próximamente!</p>
		</div>

		<div class="flex gap-20">
			<SwitchBtnThemeMode />
		</div>

	</div>
</nav>