---
import NavButton from './NavButton.astro'
import SwitchBtnThemeMode from './SwitchBtnThemeMode.astro'
---
<nav class='ml-10 md:ml-0 mt-5 inline-flex items-center justify-between'>
	<div class="inline-flex gap-10">
		<div>
			<NavButton text='proyectos' link='/' enabledBtn={true} />
		</div>
		<div>
			<NavButton text='dev blog' link='/' enabledBtn={false} />
		</div>
	</div>
	<div class="flex">
		<SwitchBtnThemeMode />
	</div>
</nav>
