---
import Button from './Button.astro'
import SwitchBtnThemeMode from './SwitchBtnThemeMode.astro'
import LanguagePicker from './LanguagePicker.astro';
import { useTranslations } from '../i18n/utils';

interface Props {
  lang?: 'es' | 'en' | 'ca';
}

const { lang = 'es' } = Astro.props;
const t = useTranslations(lang);
---
<nav class="fixed top-0 left-0 right-0 z-50 bg-white/70 dark:bg-zinc-900/70 backdrop-blur-md border-b border-zinc-200/50 dark:border-zinc-700/50 shadow-sm">
	<div class="container flex items-center justify-between py-4">

		<!-- Lado izquierdo -->
		<div class="hidden sm:inline-flex md:gap-1">
			<div class="text-center">
				<Button text={t('nav.projects')} link='/' enabledBtn={false}/>
			</div>
		</div>

		<!-- Lado derecho -->
		<div class="flex gap-4 md:gap-6 items-center">
			<LanguagePicker />
			<SwitchBtnThemeMode />
		</div>

	</div>
</nav>

<style>
	/* Donde se incluya el nav se apliará el padding-top al body para dar espacio */
	:global(body) {
		padding-top: 4rem;
	}
</style>