---
import NavButton from './NavButton.astro'
import SwitchBtnThemeMode from './SwitchBtnThemeMode.astro'

---
<nav class='mt-5 inline-flex items-center justify-center md:justify-between'>
	<div class="inline-flex gap-5 md:gap-1">
		<div>
			<NavButton text='proyectos' link='/' enabledBtn={true} />
		</div>
		<div>
			<NavButton text='dev blog' link='/' enabledBtn={false} />
		</div>
	</div>
	<div class="flex">
		<SwitchBtnThemeMode />
	</div>
</nav>
