---
import Button from './Button.astro'
import SwitchBtnThemeMode from './SwitchBtnThemeMode.astro'
import LanguagePicker from './LanguagePicker.astro'
import { useTranslations } from '../i18n/utils'

import MenuIcon from '../icons/menu.svg'
import SideMenu from './SideMenu.astro'

interface Props {
	lang?: 'es' | 'en' | 'ca'
}

const { lang = 'es' } = Astro.props
const t = useTranslations(lang)
---

<nav class='fixed top-0 left-0 right-0 z-50 bg-white/70 dark:bg-zinc-900/70 backdrop-blur-md border-b border-zinc-200/50 dark:border-zinc-700/50 shadow-sm'>
	<div class='container'>
		<div class='flex items-center justify-between py-4 md:py-6'>

			<!-- Menú izquierdo Móvil -->
			<div class='sm:hidden'>
				<button id='menu-toggle' >
					<MenuIcon />
				</button>
			</div>

			<!-- Nav izquierdo Desktop -->
			<div class='hidden sm:inline-flex md:gap-1'>
				<div class='text-center'>
					<Button text={t('nav.home')} link='/' enabledBtn={true} />
					<Button text={t('nav.projects')} link='/' enabledBtn={false} />
				</div>
			</div>

			<!-- Lado derecho -->
			<div class='flex gap-4 md:gap-6 items-center'>
				<LanguagePicker />
				<SwitchBtnThemeMode />
			</div>
		</div>
	</div>
</nav>

<SideMenu lang={lang} />

<script>
  const btn = document.getElementById('menu-toggle');
  const menu = document.getElementById('side-menu');
  const overlay = document.getElementById('menu-overlay');

  function toggleMenu() {
    if (!menu?.classList.contains('transition-transform')) {
      menu?.classList.add('transition-transform', 'duration-300', 'ease-in-out');
    }
    menu?.classList.toggle('-translate-x-full');
    overlay?.classList.toggle('hidden');
  }

  btn?.addEventListener('click', toggleMenu);
  overlay?.addEventListener('click', toggleMenu);
</script>

<style>
	/* Donde se incluya el nav se apliará el padding-top al body para dar espacio */
	:global(body) {
		padding-top: 4rem;
	}
</style>
