---
import NavigationTabs from './NavigationTabs.astro';
import LanguageDropdown from './LanguageDropdown.jsx';
import SwitchBtnThemeMode from './SwitchBtnThemeMode.astro';
---
<nav class="mt-8 flex justify-between">
  <NavigationTabs/>
  <LanguageDropdown client:visible/>
  <SwitchBtnThemeMode/>
</nav>