---
import NavigationTabs from './NavigationTabs.astro';
import SwitchThemeMode from './SwitchThemeMode';
---
<nav class="mt-8 flex justify-between">
  <NavigationTabs/>
  <SwitchThemeMode client:only client:media="(min-width: 769px)"/>
</nav>
