---
import NavigationTabs from './NavigationTabs.astro';
import SwitchBtnThemeMode from './SwitchBtnThemeMode.astro';
---
<nav class="mt-8 flex justify-between">
  <NavigationTabs />
  <SwitchBtnThemeMode class="switch-dark-mode" />
</nav>