---
interface Props {
  text: string;
  link: string;
  enabledBtn: boolean;
}
const { text, link, enabledBtn } = Astro.props;
---
<div class="m-5">
  <a class:list=
    {[
      'Monsterrat text-sm xs:text-md md:text-lg rounded-lg',
      {
        'focus': enabledBtn, 'text-gray-500 md:text-lg pointer-events-none cursor-default':!enabledBtn
      }
    ]}
    href={link} title='Mis proyectos'>{text}
  </a>
  {!enabledBtn && (<p class="mt-2 ml-5 italic Monsterrat text-xs xs:text-xs md:text-md rounded-lg">¡Próximamente!</p>)}
</div>

<style>
	.focus:hover {
    background-color: #52525B;
    color: white;
	}

  .italic.Monsterrat {
    color: var(--tangerine);
  }
</style>