---
interface Props {
  text: string;
  enabledBtn: boolean;
}
const { text, enabledBtn } = Astro.props;
---
<a class:list=
  {[
    'Monsterrat px-2 xs:px-4 text-sm xs:text-md md:text-lg',
    {
      'focus': enabledBtn, 'text-gray-500 md:text-lg pointer-events-none cursor-default': !enabledBtn
    }
  ]}
  href="/" title='Mis proyectos'>{text}</a>

<style>
	.focus:hover {
    text-shadow: 
      1.2px 0 var(--color-highlight), 
      -1.2px 0 var(--color-highlight), 
      0 1.2px var(--color-highlight), 
      0 -1.2px var(--color-highlight);
	}
</style>