---

---
<ul>
  <li><span>&lt;/&gt;</span></li>
  <li><a class="anim-brightness" href="/" title="Página Principal">projects</a></li>
  <li><a class="disabled" href="/proyectos/" title="Mis Videojuegos">video games</a></li>
  <li><a class="disabled" href="/blog/" title="Blog de Desarrollo">dev blog</a></li>
</ul>
<style>
  li:first-child {
    user-select: none;
  }
  li {
    display: inline-block;
    list-style-type: none;
  }
  a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
	}
  li a {
    transition: text-shadow .25s ease;
  }
	.anim-brightness:hover {
    text-shadow: 
      1px 0 var(--color-shadow), 
      -1px 0 var(--color-shadow), 
      0 1px var(--color-shadow), 
      0 -1px var(--color-shadow);
	}

  .disabled {
    color: grey;
    pointer-events: none;
    cursor: default;
  }

</style>