<ul class="list-none grid grid-cols-3 gap-1 mx-auto md:gap-6 md:mx-12 md:mr-0 md:flex md:text-xl">
    <li class="hidden select-none xl:block"><span class="mx-4 xl:block">&lt;/&gt;</span></li>
    <li><a class="Monsterrat px-2 xs:px-4 text-sm xs:text-md md:text-lg anim-brightness" href="/" title="Mis Proyectos">projects</a></li>
    <li><a class="Monsterrat px-2 xs:px-4 text-sm xs:text-md md:text-lg    text-slate-400 pointer-events-none cursor-default" href="/proyectos/" title="Mis Videojuegos">video games</a></li>
    <li><a class="Monsterrat px-2 xs:px-4 text-sm xs:text-md md:text-lg    text-slate-400 pointer-events-none cursor-default" href="/blog/" title="Blog de Desarrollo">dev blog</a></li>
</ul>
<style>
  li a {
    transition: text-shadow .19s ease;
  }
	.anim-brightness:hover {
    text-shadow: 
      1.2px 0 var(--color-shadow), 
      -1.2px 0 var(--color-shadow), 
      0 1.2px var(--color-shadow), 
      0 -1.2px var(--color-shadow);
	}
</style>