<ul class="grid grid-cols-3 gap-1 mx-auto md:mx-0 md:flex md:text-xl">
    <span class="hidden mx-4 md:block">&lt;/&gt;</span>
    <li><a class="mx-4 anim-brightness" href="/" title="Mis Proyectos">projects</a></li>
    <li><a class="mx-4 disabled" href="/proyectos/" title="Mis Videojuegos">video games</a></li>
    <li><a class="mx-4 disabled" href="/blog/" title="Blog de Desarrollo">dev blog</a></li>
</ul>
<style>
  li:first-child {
    user-select: none;
  }
  li {
    list-style-type: none;
  }
  a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
	}
  li a {
    transition: text-shadow .25s ease;
  }
	.anim-brightness:hover {
    text-shadow: 
      1px 0 var(--color-shadow), 
      -1px 0 var(--color-shadow), 
      0 1px var(--color-shadow), 
      0 -1px var(--color-shadow);
	}

  .disabled {
    color: grey;
    pointer-events: none;
    cursor: default;
  }

</style>