---
import LanguageMenu from "./LanguageMenu.astro";
import SocialMedia from "./SocialMedia.astro";
---
<div>
  <!-- <LanguageMenu/> -->
  <SocialMedia/>
</div>
<style>
  div {
    display: flex;
		align-items: center;
  }
</style>