---
import LinkedIn from '../icons/linkedin.svg'
import Github from '../icons/github.svg'
import Mastodon from '../icons/mastodon.svg'
import Twitter from '../icons/twitter.svg'
import Bluesky from '../icons/bluesky.svg'
---

<ul
	class="mb-10 mt-6 flex flex-wrap place-content-around items-center justify-center gap-6 p-0 md:flex-row md:gap-6"
>
	<li
		class="rounded-lg p-2 transition-all duration-200 ease-out hover:scale-125 hover:bg-[#0077b5]/10 hover:opacity-100 dark:hover:bg-[#0077b5]/30"
	>
		<a
			class="list-none"
			href="https://www.linkedin.com/in/denis-anfruns/"
			title="LinkedIn"
			target="_blank"
			rel="noopener noreferrer"
		>
			<LinkedIn class="text-[#0077b5]" width="24" height="24" />
		</a>
	</li>
	<li
		class="rounded-lg p-2 transition-all duration-200 ease-out hover:scale-125 hover:bg-gray-200 hover:opacity-100 dark:hover:bg-gray-700"
	>
		<a
			class="list-none"
			href="https://github.com/hunkstalker"
			title="GitHub"
			target="_blank"
			rel="noopener noreferrer"
		>
			<Github class="text-gray-800 dark:text-gray-200" width="24" height="24" />
		</a>
	</li>
	<li
		class="rounded-lg p-2 transition-all duration-200 ease-out hover:scale-125 hover:bg-[#228DFF]/10 hover:opacity-100 dark:hover:bg-[#228DFF]/30"
	>
		<a
			class="list-none"
			href="https://bsky.app/profile/hunkstalker.bsky.social"
			title="Bluesky"
			target="_blank"
			rel="noopener noreferrer"
		>
			<Bluesky class="text-[#228DFF]" width="24" height="24" />
		</a>
	</li>
	<li
		class="rounded-lg p-2 transition-all duration-200 ease-out hover:scale-125 hover:bg-[#6364FF]/10 hover:opacity-100 dark:hover:bg-[#6364FF]/30"
	>
		<a
			class="list-none"
			rel="me noopener noreferrer"
			href="https://fosstodon.org/@hunkstalker"
			title="Mastodon@Fosstodon"
			target="_blank"
		>
			<Mastodon class="text-[#6364FF]" width="24" height="24" />
		</a>
	</li>
	<li
		class="rounded-lg p-2 transition-all duration-200 ease-out hover:scale-125 hover:bg-[#1da1f2]/10 hover:opacity-100 dark:hover:bg-[#1da1f2]/30"
	>
		<a
			class="list-none"
			href="https://twitter.com/hunkstalker"
			title="Twitter"
			target="_blank"
			rel="noopener noreferrer"
		>
			<Twitter class="text-[#1da1f2]" width="24" height="24" />
		</a>
	</li>
</ul>
