---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Nav from '../../components/Nav.astro';
import Header from '../../components/Header.astro';
import SocialLinks from '../../components/SocialLinks.astro';

const siteTitle = `Denis A. M. Portfolio`;
const lang = 'ca-es';
---
<BaseLayout siteTitle={siteTitle} lang={lang}>
  <Nav />
  <div class='flex-1 container'>
    <Header />
    <SocialLinks />
  </div>
</BaseLayout>