---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import experiencieYears from '../utils/experiencieYears';

interface Props {
	siteTitle: string;
	lang?: string;
}

const { siteTitle, lang = 'es' } = Astro.props;
const description = `Desarrollador multiplataforma Full Stack con +${experiencieYears()} años de experiencia. ¡Mira mis proyectos! 👀✨`;
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<BaseHead title={siteTitle} description={description} />
	</head>
	<body class='flex flex-col min-h-screen' >
		<main>
			<slot />
		</main>
		<Footer lang={lang as any} />
	</body>
</html>