---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import SocialLinks from "../components/SocialLinks.astro";
const year = new Date().getFullYear();
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Denis Anfruns' Web" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="container mx-auto lg:px-32">
		<Nav/>
		<slot/>
		<footer class="text-center">
			<SocialLinks/>
			<p class="mt-6 mx-16 sm:mx-20 mb-24 leading-6">&copy; {year} Denis Anfruns Millán.<br class="block md:hidden">&nbsp;All rights reserved.</p>
			<div class="flex justify-center">
				<a class="flex" href="https://astro.build/" target="_blank">
					<p>Powered by <span class="text-[#e63ba9] font-bold">Astro</span></p>
					<img class="w-5 h-5 mt-1 ml-2" src="/astroLogo.svg" alt="Astro logo"/>
				</a>
			</div>
		</footer>
	</body>
</html>