---
import '../styles/global.css';
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Denis Anfruns' Web" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="container mx-auto px-48">
		<slot class="grid grid-cols-1"/>
		<footer></footer>
	</body>
</html>

