---
import NavigationTabs from '../components/NavigationTabs.astro';
import LanguageSelector from "../components/LanguageSelector.astro";
import SocialLinks from "../components/SocialLinks.astro";
import SideMenu from '../components/SideMenu.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Denis Anfruns Developer Web" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="container mx-auto px-48">
		<nav class="">
			<NavigationTabs/>
			<!-- <LanguageSelector> -->
			<SocialLinks/>
		</nav>
		<slot class="grid grid-cols-1"/>
		<footer></footer>
	</body>
</html>

