---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

const { pageTitle } = Astro.props
---
<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content="Denis Anfruns - Web portfolio. Desarrollador de Power Platform | Móvil, escritorio, tecnologías web y entusiasta del FLOSS" />
		<meta name='description' lang="ca" content="Denis Anfruns - Web portfolio. Desenvolupador de Power Platform | Móbil, escritori, tecnologies web i entusiasta del FLOSS" />
		<meta name='description' lang="en" content="Denis Anfruns - Web portfolio. Power Platform Developer | Mobile, Desktop, Web technologies and FLOSS enthusiast" />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='alternate' hreflang='x-default' href='https://denis-anfruns.dev/' />
		<title>{pageTitle}</title>
	</head>
	<body class="container md:mx-auto md:px-48 flex flex-col min-h-screen">
		<Nav />
		<slot />
		<Footer class='mt-auto'/>
	</body>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const theme = localStorage.getItem('theme')
			document.documentElement.classList.toggle('dark', theme === 'dark')
		})
	</script>
</html>